@model ControlPanel.ViewModels.AgentAddSkillViewModel

<h2>AddSkill</h2>

<table class="table table-hover">
	<tr>
		<th>Навык</th>
		<th>ID</th>
		<th>Алгоритм</th>
		<th></th>
	</tr>
	@foreach (var item in Model.Skills)
	{
		<tr>
			<td>
				@Html.DisplayFor(skill => item.Name)
			</td>
			<td>
				@Html.DisplayFor(skill => item.Key)
			</td>
			<td>
				@Html.DisplayFor(skill => item.AlgorithmName)
			</td>
			<td>
				<a href=@Url.Action("SkillAddConfirmation", new { agentId = Model.Agent.Id, skillId = item.Id }) class="skillAddConfirmationModal"><i class="fa fa-plus-square"></i></a>
			</td>
		</tr>
	}
</table>

@* SkillAddConfirmation Modal: js => Controller (SkillAddConfirmation GET) => SkillAddConfirmation.cshtml => POST *@
<div id="modDialog" class="modal fade" tabindex="-1" role="dialog">
	<div id="dialogContent" class="modal-dialog" role="document"></div>
</div>

<script type="text/javascript">

	$(function () {
		$.ajaxSetup({ cache: false });
		$(".skillAddConfirmationModal").click(function (e) {

			e.preventDefault();
			$.get(this.href, function (data) {
				$('#dialogContent').html(data);
				$('#modDialog').modal('show');
			});
		});
	})
</script>


