@model ControlPanel.Models.AgentToSkill

<h2>SkillAddConfirmation</h2>


@using(Html.BeginForm())
{
<div class="form-horizontal">
	@Html.HiddenFor(model => model.SkillId)
	@Html.HiddenFor(model => model.AgentId)

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
</div>
}

