@model ControlPanel.Models.Skill 

<h2>Маршруты навыка @Model.Name</h2>


<table class="table table-hover">
	<tr>
		<th>Название</th>
		<th>ID</th>
		<th>Активен</th>
		<th></th>
	</tr>

	@foreach(var item in Model.Routes)
	{
		<tr>
			<td>
				@Html.DisplayFor(route=>item.Name)
			</td>
			<td>
				@Html.DisplayFor(route=>item.Key)
			</td>
			<td>
				<a href=@Url.Action("RemoveRoute", new { skillId = Model.Id, routeId = item.Id })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>

