@model ControlPanel.Models.Group
		
<h2>GroupAgents</h2>


<table class="table table-hover">
	<tr>
		<th>Имя агента</th>
		<th>Логин агента</th>
		<th>Алгоритм</th>
		<th>Активен</th>
		<th></th>
	</tr>
	@foreach(var item in Model.Agents)
	{
		<tr>
			<td>
				@Html.DisplayFor(agent=>item.Name)
			</td>

			<td>
				@Html.DisplayFor(agent=>item.Login)
			</td>

			<td>
				@Html.DisplayFor(agent=>item.Algorithm)
			</td>

			<td>
				@Html.ActionLink("Delete", "RemoveAgent", new { groupId = Model.Id, agentId = item.Id })
				<a href=@Url.Action("RemoveAgent", new { groupId = Model.Id, agentId = item.Id })><i class="fa fa-close"></i></a>
			</td>
		</tr>
	}
</table>



