<h2>Мониторинг агентов</h2>
<br />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Логин</th>
			<th>Алгоритм</th>
		</tr>
	</thead>
	<tbody id="qq">

	</tbody>
</table>

<script>
	"use strict";

	//Agent class
	class Agent {
		constructor(name, login, algorithm) {
			this.name = name;
			this.login = login;
			this.algorithm = algorithm
		
		}

	}
	var jsonResponse;
	//http req
	var request = new XMLHttpRequest();
	//request.responseType = 'json';
	request.open("GET", "https://localhost:44355/Monitoring/GetTopAgents", false);
	request.onload = function(){
		jsonResponse = request.response;
	}
	request.send();
	console.log(jsonResponse);
	var responseAgentsArray = JSON.parse(jsonResponse);
	var status = request.status;

	var tableBody = document.getElementById("qq");

	for (var i = 0; i < responseAgentsArray.length;i++) {
		var newRow = document.createElement("tr");
		var nameTag = document.createElement("td");
		nameTag.textContent = responseAgentsArray[i].name;
		var loginTag = document.createElement("td");
		loginTag.textContent = responseAgentsArray[i].login;
		var algoTag = document.createElement("td");
		algoTag.textContent = responseAgentsArray[i].algorithm;

		newRow.appendChild(nameTag);
		newRow.appendChild(loginTag);
		newRow.appendChild(algoTag);

		tableBody.appendChild(newRow);
	}
</script>